*{     
    margin:0;
    padding:0;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box;
    font-size: 62.5%;
}
ul,li,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.show{
    display:block;
}
.mainCon{
    padding:8rem 4rem;
    width:100%;
    margin:0 auto;
}

.mainTitle{
   font-size: 3.5rem;
    text-align: center;
    font-weight: 500;                                                            
}
.mainCon p{
    margin:3rem 0rem;                                           
 text-align: center; 
 font-size: 1.5rem;

 color:#777777;
}

.btnCon{
    width:60%;
    margin:0 auto;
    
}
.filterBtns{
    display: flex;
    width:100%;
   
    justify-content: center;
    border-bottom: 0.1rem solid #777777;
}

.btn{
    
    
    padding:2.0rem 5.0rem;
    font-size: 1.6rem;
    
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    text-align:center;
     transition: width 0.5s linear;
}

.btn.select{
    width:10vw;
    border-bottom: 0.23rem solid #ec4b40;
    color:#ec4b40;
    transition: width 0.5s linear;
        
}
.rowMain{
    
    margin:0 auto;
    margin-top:4.0rem;
    width:100%;
    display: flex;
    flex-wrap: wrap;
   place-content: center;
}


.content{
    
    
    padding:1.3rem;
    overflow: hidden;
    white-space: nowrap;
    
  
}

.moviePosterCon{
    width:100%;
}


.moviePosterCon img{
    width:100%;
    height: 100%;
   
}
/* .moviePosterCon.item2{
	
position:relative; 
opacity: 0.8; display:flex; 
justify-content: center; 
align-items: center;

	
}
.deadLineNotice{
	width:21rem; 
	height:21rem; 
	background-color: #141414; 
	opacity: 0.9; 
	position:absolute; 
	border-radius: 50%; 
	text-align:center; 
	display:flex; 
	justify-content: center; 
	align-items: center;
	
}
.deadLineNotice>strong{
	
	font-weight:300; 
	font-size: 1.7rem; 
	color:#f1f1f1;
}
 */

.onAir{
    display: none;
    width:20%;
    margin:2rem;
    transition: background-color 0.5s linear ;
}
.onAir:hover{
    background-color:#ec4b40 ;
    transition: background-color 0.5s linear ;
    
}
.onAir:hover .movieName,.onAir :hover .hashtags{
    color:#f1f1f1;
    transition: background-color 0.5s linear ;
    
}
.content.moviePosterCon{
    /* width:100%;
    position: relative;
    z-index: 10;
    padding-bottom:56.25%;
    overflow: hidden; */
    width:100%;

}

.content.moviePosterCon>img{
   
    width:100%;
    /* width:100%;
    /* height: 100%;
    position: absolute; */ 
   
}


.content>.movieName{
     font-size: 1.5rem;
    text-align: center;
    color:black;
    margin:1.5rem auto;
    overflow: hidden;
    white-space: nowrap;
 
}

.content>.hashtags{
    text-align: center;
   font-size: 1.2rem;
    color:#ec4b40;
    font-weight: normal;
    margin: 1rem auto;
   

}

@media (max-width:1280px) {
   
   .btnCon{
    width:80%;
   }
   .column{
       width:35%;
   }
  .btn.select{
    width:13vw;
    }
    
    
}


@media (max-width:1024px) {
   *{
       font-size: 55%;
   }
   .btnCon{
    width:80%;
   }
   .column{
       width:35%;
   }
  .btn.select{
        width:13vw;
    }
    
    
}

@media (max-width:768px) {
    *{
        font-size:55%;
    }

    .btnCon{
        width:100%;
       }
    
    .column{
        width:50%;
    }
    .btn{
        padding:2rem 3rem;
        font-weight: bold;
    }
    .btn.select{
    width:18vw;
    }
 }


 @media (max-width:480px) {
    *{
        font-size: 50%;
    }
    .btnCon{
        width:100%;
       }
   
    .column{
        width:70%;
    }
    .btn{
        padding:2rem 1rem;
        font-weight: bold;
    }
      .btn.select{
    width:18vw;
    }
 }