aside {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 0;
    overflow: hidden;
    z-index: 1;

}

aside input {

    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}




.resultTitle {
    flex: 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1.5rem;


}

.resultTitle>h3 {
    /* background-color: #dd2026; */
    padding:2rem 0rem;
    width: 70%;
    font-size: 2.5rem;
    color:#141414;
    border-bottom: 0.25rem solid #141414;
}

.userTable {

    width: 100%;
    margin: 0 auto;


}

table {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    width: 70%;
    color: #141414;
    background-color: #fff;
    text-align: center;
    border-radius: 0.8rem;
    margin-bottom: 3rem;
    border-collapse: collapse;
    
}



th {
    font-size: 1.6rem;
    padding:0.5rem 0.3rem;
    color: #141414;
    text-align: center;

    
   
}

tr{
    border-bottom: 1px solid rgb(238, 238, 238);
}



td {
    text-align: center;
    color:#141414;
    padding:0.9rem 0.8rem;
    font-size: 1.5rem;
}
td>button{
    color:#141414;
}

.pagingBtnCon {

    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    padding: 2rem 1rem;
 
}



.btns {
    display: flex;
    align-items: center;
}

.btns i {
    font-size: 2.5rem;
    color:#141414;
}

.btns .highDown {
    display: inline-block;
    position: relative;

}

.btns .highDown i:nth-child(2) {
    position: absolute;
    left: 24%;

}

.btns .highUp {
    display: inline-block;
    position: relative;

}

.btns .highUp i:nth-child(2) {
    position: absolute;
    left: 24%;

}

.btns .indexNum {
    display: flex;
}

.indexNum li {
    margin: 0.3rem;
}


.indexNum li a {

    font-size: 1.8rem;
    color:#141414;
}

.searchBox.active {
    visibility: visible;
    opacity: 1;
    transition: all 1s ease-in-out;
}


.searchBox {

    top: 0;
    right: 0;
    z-index: 999;
    height: 40vh;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    padding-top: 2rem;
    background-color: #fff;
    width: 100%;




    justify-content: center;
    display: flex;
}

.searchCon {

    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 3px solid #141414;
    height: 7vh;
}

.xbtn {
    width: 3rem;
    height: 3rem;
    font-size: 3.0rem;
    color: #141414;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBtn>i {
    text-align: center;
    font-size: 3.0rem;
    color: #141414;



}

.searchCon input {
    outline: none;
    border: none;
    color: #141414;
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 1.3rem;
    padding: 0 0.5rem 0.2rem 0.5rem;
}






@media (max-width:1024px) {
    * {
        font-size: 58%;
    }

    .hideMenu>.adminMenus>li>a {
        font-size: 1.5rem;
        padding: 0.8rem 0.8rem 0.8rem 0.8rem;

    }

    nav .top .topCon {
        width: 50%;
      
    }
    

}

@media (max-width:768px) {
    * {
        font-size: 52%;
    }

    .hideMenu>.adminMenus>li>a {
        font-size: 1.5rem;
        padding: 0.8rem 0.8rem 0.8rem 0.8rem;


    }
    .resultTitle>h3 {
        width:100%;
    }

    nav .top .topCon {
        width: 100%;
      
    }
    .userForm{
        display: none;
    }
  
    span.hambugerBtn{
        display: block;
    }

  


}

@media (max-width:480px) {
    * {
        font-size: 48%;
    }

    .hideMenu>.adminMenus>li>a {
        font-size: 1.5rem;
        padding: 0.8rem 0.8rem 0.8rem 0.8rem;


    }

    nav .top .topCon {
       width: 100%;


      
    }
    span.hambugerBtn{
        display: block;
    }
  

  


}