
/* 기본설정 초기화 */
*{

    box-sizing: border-box;
    margin:0;
    padding:0;

    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
    color: #fff;
    font-size: 62.5%;
    letter-spacing: 1%;
  /* 폰트 초기화 */
  
}



body{
    width:100%;
    background-color: #333;

}

ul,li,ol{
    list-style: none;
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    
 
}

.mainCon{
width:100%;
margin: 0 auto;

}

.mintTheme{

background-color:#00b894;
transition:all 2s ease-in-out;

}

.blueTheme{

    background-color: #74b9ff;
    transition:all 2s ease-in-out;
}
.pinkTheme{

    background-color: #fd79a8;
    transition:all 2s ease-in-out;
}

.mainHomeBtn{
  
    
    position:absolute;
    top:0.8%;
    right:1.5%;
    transition:all 1s ease-in-out;
    
}

.mainHomeBtn i{
    font-size: 4.0rem;
}


.mainCon nav{
    padding:0.2rem;
}
.mainCon nav h3{
    font-size: 3rem;
    
   
}

.mainCon nav>div{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mainCon nav>div>span{
    font-size:2.5vh;
    color:#dd2026;

}
.adminMenus{
    margin-top: 0.2rem;
    visibility: visible;
    opacity: 1;
    width:100%;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
   
}



.adminMenus.on {
    visibility: hidden;
    opacity: 0;
    width:100%;
    transition:all 2s ease-in-out
    }


.mainCon.adminMenus li{
    display: block;
    padding:1.2rem 1.5rem;
    width:100%;
    height: 9vh;
    text-align: center;
    margin:0 auto;
}


.mainCon .adminMenus li a{
   
    display: inline-block;
    width: 100%;
    height: auto;
    margin:0 auto;
    font-size: 1.5rem;
    text-align: center;
    padding:0.8rem 1.2rem
    /* background-color:#dd2026; */
}

.mainCon .adminMenus li:hover{
   
    width: 100%;
    height: 100%;
    margin:0 auto;
    background-color:#dd2026;
}

.mainCon .adminMenus li i{
    font-size: 1.3rem;
    text-align: center;
    margin-right:1rem;
    /* background-color:#dd2026; */
}


@media (max-width:1024px) {
    *{
        font-size: 50%;
    }
    
    .mainCon .adminMenus{
        margin-top:0;
    }

    .mainHomeBtn{
        font-size: 2.5rem;
        position:absolute;
        top:1%;
        right:5%;
    }
}




@media (max-width:768px) {
    *{
        font-size: 45%;
    }
    
    .mainCon .adminMenus{
        margin-top:0;
    }

    .mainHomeBtn{
        font-size: 2.5rem;
        position:absolute;
        top:1%;
        right:5%;
    }
}


@media (max-width:480px) {

    *{
        font-size: 50%;
    }
    
    
    /* .mainCon .adminMenus li a{
        font-size: 2vh;
        padding:1.4rem 0.8rem;
    } */
    .mainCon .adminMenus{
        margin-top:0;
    }

    .mainHomeBtn{
        font-size: 1.8rem;
        position:absolute;
        top:1%;
        right:5%;
    }

}
