<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- <typeAlias type="kr.co.goodee39.admin.vo.AdminVO" alias="adminVO"/>
		
		<typeAlias type="kr.co.goodee39.cart.vo.CartVO" alias="cartVO"/>
		<typeAlias type="kr.co.goodee39.goods.vo.GoodsReviewVO" alias="goodsReviewVO"/> 
		<typeAlias type="kr.co.goodee39.goods.vo.GoodsVO" alias="goodsVO"/>
		<typeAlias type="kr.co.goodee39.movie.vo.MovieWishlistVO" alias="movieWishlistVO"/>
		<typeAlias type="kr.co.goodee39.user.vo.UserMvreviewVO" alias="userMvreviewVO"/>
		<typeAlias type="kr.co.goodee39.user.vo.UserVO" alias="userVO"/>
		<typeAlias type="kr.co.goodee39.user.vo.ProductWishlistVO" alias="productWishlistVO"/>
		<typeAlias type="kr.co.goodee39.order.vo.OrderDetailVO" alias="orderDetailVO"/>
		<typeAlias type="kr.co.goodee39.review.vo.ReviewReplyVO" alias="reviewReplyVO"/> -->
		<typeAlias type="kr.co.goodee39.goodsReview.vo.goodsReviewVO" alias="goodsReviewVO"/> 
		<typeAlias type="kr.co.goodee39.productWishlist.vo.productWishlistVO" alias="productWishlistVO"/>
		<typeAlias type="kr.co.goodee39.cart.vo.CartVO" alias="cartVO"/>
		<typeAlias type="kr.co.goodee39.user.vo.UserVO" alias="userVO"/>
		<typeAlias type="kr.co.goodee39.goods.vo.GoodsVO" alias="goodsVO"/>
		<typeAlias type="kr.co.goodee39.admin.vo.NoticeVO" alias="noticeVO"/>
		<typeAlias type="kr.co.goodee39.movie.vo.MovieVO" alias="movieVO"/>
		<typeAlias type="kr.co.goodee39.admin.vo.QnaVO" alias="qnaVO"/>
		<typeAlias type="kr.co.goodee39.review.vo.ReviewReplyVO" alias="reviewReplyVO"/>
		 <typeAlias type="kr.co.goodee39.adminmailbox.vo.AdminMailBoxVO" alias="adminMailBoxVO"/>
		  <typeAlias type="kr.co.goodee39.preview.vo.previewVO" alias="previewVO"/>
		  <typeAlias type="kr.co.goodee39.preview.vo.PreviewCmtVO" alias="pwCmtVO"/>

	</typeAliases>
</configuration>